@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: #222;
$grey-light: #aaa;
$primary: #333;
$link: #666;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$title-color: #ddd;

.is-flex-container {
  display: flex;
}

// Import only what you need from Bulma
//@import "~bulma/sass/utilities/all";
//@import "~bulma/sass/base/all";
//@import "~bulma/sass/elements/all";
//@import "~bulma/sass/form/all";
//@import "~bulma/sass/components/all";
//@import "~bulma/sass/layout/all";
@import "~bulma/bulma";
@import "~bulma-extensions/dist/css/bulma-extensions.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
  background-image: url("../asset/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.navbar-menu {
  &.animated.is-active {
    animation: navAnim .2s ease-in;
  }
}

@keyframes navAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
    height: 100px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadein {
  animation: linear 1s fadein;
}

p {
  white-space: pre-wrap;
}

@import "loader";
@import "parchment";

